
/* #fad25a : gold*/
/* #868686 : grey*/
/* #fff    : white*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 1000px;
    font-size: 20px;
    background-color: gold;
    margin: 0;
}
/*-------------------------#####   N A V   ####-------------------------*/
nav {
    background-color: gold;
    margin: 0;
    width: 100%;
    height: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 20px;
}

nav div {
    border-left: 3px solid white;
}

/*-------------------------#####  H O M E  ####-------------------------*/

header {
    background-color: #fff;
    height: 60%;
    text-align: center;
    padding-top: 50px;
    width: 100%;
}

h2 {
    font-size: 300%;
    text-align: center;
}

.gold {
    color: #fad25a;
}

.white {
    color: #ffffff;
}

/*-------------------------#####  C O N T E N T  ####-------------------------*/

section {
    background-color: white;
    height: 75%;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 40px;
    font-size: 75%;
    padding:  35px 170px;
    margin: 0;
}

.content {
    border-style: solid;
    border-color: gold;
    height: 75%;
}

.content h2 {
    margin: 0;
    font-size: 200%;
}


.imgCon img {
    width: 50%;
    height: 50%;
    margin: 30px
}

.button {
    box-sizing: border-box;
    width: 50%;
    border: 3px solid goldenrod;
    margin: 0;
    padding: 10px;
    margin-top: 50px;
    display: inline-block;
    color: floralwhite;
    cursor: pointer;
}

.stupid {
    margin-top: 20px;
}

.moreStupid {
    padding-top: 50px;
}

/*-------------------------#####  C O N T A C T  ####-------------------------*/

footer {
    background-color: #fad25a;
    height: 50%;
    text-align: center;
    margin: 0;

}
footer h2 {
    margin-bottom: 0;
    margin-top: 0;
}
footer p {
    font-size: 30px;
    margin: 0;
}
.boxIcon {
    width :100%;
    margin : 20px 0px;
    padding : 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.icon {
    padding-top: 50px;
}

.icon img {
    width: 20%;
    height: 20%;
}

.icon p {
    margin-top: 5px;
    font-size: 22px;
}


/* ----------- MY PPORTFOLIO WEBSITE ----------------------- */

.projects {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


.box {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid gold;
    padding: 10px;
    grid-column-gap: 20px;

}

.even {
    background-color: white;
}

.box .boxImage {
    background-color: white;
}
.box .boxImage img {
    width: 100%;
    height: 100%;
}

